<mat-toolbar color="primary" fxFlex fxLayout="row">
  <button
    *ngIf="(isHandset$ | async)"
    type="button"
    aria-label="Toggle sidenav"
    mat-icon-button
    (click)="onToggleSidenav()">
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
  Mihail Mihov's  Blog Page
  <span fxFlex fxLayoutAlign="flex-end">
        <img [src]="imgUrlDsktp" alt='MMihov' *ngIf="!(isHandset$ | async)">
        <img [src]="imgUrlMbl" alt='MMihov' *ngIf="(isHandset$ | async)">
      </span>
</mat-toolbar>
