<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar>
      Menu
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">Link 1</a>
      <a mat-list-item href="#">Link 2</a>
      <a mat-list-item href="#">Link 3</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" fxFlex fxLayout="row">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
        Mihail Mihov BLOG
      <span fxFlex fxLayoutAlign="flex-end">
        <img [src]="imgUrlDsktp" alt='MMihov' *ngIf="!(isHandset$ | async)">
        <img [src]="imgUrlMbl" alt='MMihov' *ngIf="(isHandset$ | async)">
      </span>
    </mat-toolbar>
<!--    Insert your content here!-->
  </mat-sidenav-content>
<!--    Insert your content here!-->
</mat-sidenav-container>
