.dashboard-card-content {
  text-align: center;
}

.article-card {
  max-width: 400px;
}

.angular-header-image {
  background-image: url("../../assets/angular.svg");
  background-size: cover;
}

.js-header-image {
  background-image: url("../../assets/javascript.svg");
  background-size: cover;
}

.html-header-image {
  background-image: url("../../assets/html5.svg");
  background-size: cover;
}

.firebase-header-image {
  background-image: url("../../assets/firebase.svg");
  background-size: cover;
}

.nodejs-header-image {
  background-image: url("../../assets/nodejs.svg");
  background-size: cover;
}

.npm-header-image {
  background-image: url("../../assets/npm.svg");
  background-size: cover;
}

.css-header-image {
  background-image: url("../../assets/css.svg");
  background-size: cover;
}

.weheartit-header-image {
  background-image: url("../../assets/weheartit.svg");
  background-size: cover;
}

.custom-class {
  position: fixed;
  background-color: pink;
  border-color: pink;
  height: 30px;
  width: 30px;
}

.articleImage {
  position: relative;
  max-height: 50%;
  width: auto;
  margin-left: 1px;
}

.img {
  width: 100%;
  margin-bottom: 18%;
}
.card-picture {
  width: 23%;
  margin-bottom: 2%;
}

/*.container {*/
/*  min-height: 100%;*/
/*  width: 100%;*/
/*}*/

.button-up {
  position: fixed;
  bottom: 5px;
  right: 5px;
  font-size: 20px;
  text-align: center;
  border-radius: 5px;
  outline: none;
}

.hero {
  background-image: url('../../assets/img/rocky_mountain.png') !important;
  background-size: cover;
  background-position: center center;
}

a:hover {
  cursor:pointer;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}
