<div fxLayout="row wrap" fxLayoutAlign="space-around">
  <mat-card  fxFlex="0 0 calc(33.3% - 12px)"
             fxFlex.sm="0 0 45%"
             [ngStyle.gt-xs]="{'margin.px': 6 }"
             fxFlex.xs="0 0 100%"
             [ngStyle.xs]="{ 'margin-bottom.px': 10 }"
             *ngFor="let article of articles"
              (click)="onClickCard(article.id)">
    <mat-card-header>
      <div mat-card-avatar [ngClass]="article.postKind"></div>
      <mat-card-title>
        {{article.titleHeading}}
      </mat-card-title>
    </mat-card-header>
    <hr>
    <img mat-card-image [src]="article.imageURL" >
    <mat-card-content class="dashboard-card-content">
      <div>{{article.titleDescription}}</div>
    </mat-card-content>
  </mat-card>
</div>
<!--<div>-->
<!--  <markdown [data]="articles[0].textBody"></markdown>-->
<!--</div>-->
