<div fxLayout="row wrap" fxLayoutAlign="space-around">
  <mat-card fxFlex="0 0 calc(33.3% - 12px)"
            fxFlex.sm="0 0 45%"
            [ngStyle.gt-xs]="{'margin.px': 6 }"
            fxFlex.xs="0 0 100%"
            [ngStyle.xs]="{ 'margin-bottom.px': 10 }"
            *ngFor="let article of articles"
  >
    <mat-card-header>
      <div mat-card-avatar [ngClass]="article.postKind"></div>
      <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu" xPosition="before">
        <button mat-menu-item (click)="onUpdate(article.id)">Update</button>
        <button mat-menu-item (click)="onRemove(article.id)">Remove</button>
      </mat-menu>
      <mat-card-title style="cursor: pointer" (click)="onClickCard(article.id)">
        {{article.titleHeading}}
      </mat-card-title>
    </mat-card-header>
    <hr>
    <img mat-card-image [src]="article.imageURL">
    <mat-card-content class="dashboard-card-content">
      <div>{{article.titleDescription}}</div>
    </mat-card-content>
  </mat-card>
</div>
<!--<div>-->
<!--  <markdown [data]="articles[0].textBody"></markdown>-->
<!--</div>-->
